<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Project Bluefin</vendor>
  <action id="org.projectbluefin.dakota.tailscale.authorize">
    <description>Authorize this user to control Tailscale</description>
    <message>Administrator approval is required to let your account control this computer's Tailscale connection.</message>
    <icon_name>network-vpn</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/dakota-tailscale-authorize</annotate>
  </action>
</policyconfig>
